<body>
<div id="page">

 <div id="sidebar">
        <ul id="sidebar-items">
          <li>
          <ul class="links">
          <%= link_to 'Back', users_path %>
          </ul>
          </li>
        </ul>
      </div>


<div id="content">
  <div id="header">
    <h1>RailsAppsBR Project</h1>
  </div>

  <div id="getting-started">
    <h1>Creating new user</h1>
    <h2>Fill the form:</h2>
  <%= render 'form' %>
</div>

</div>
</div>
</body>
