$bg_color: #fff;
$text_color: #FCCDE2;

#body {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: "Helvetica", "OpenSans", Arial;
  font-size: 13px;
  display: block;
}

body {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
  background-image: url("bg3.png");
  background-repeat: repeat;
}

a  {color: #03c}
a:hover {
  background-color: #03c;
  color: white;
  text-decoration: none;
}

#page {
  width: 750px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: "Helvetica", "OpenSans", Arial;
}

#content {
  background-color: #E8CAF0;
  float: left;
  border: 3px solid #aaa;
  border-top: none;
  padding: 25px;
  width: 500px;
  color: #8B7981;
}

#sidebar {
  float: right;
  width: 175px;
}

#footer {
  clear: both;
}

#header, #about, #getting-started {
  padding-left: 75px;
  padding-right: 30px;
}

#header {
  height: 64px;
}

#header h1, #header h2 {
  margin: 0;
}

#header h2 {
  font-weight: normal;
  font-size: 16px;
}

#getting-started {
  border-top: 1px solid #ccc;
  margin-top: 25px;
  padding-top: 15px;
}
#getting-started h1 {
  margin: 0;
  font-size: 20px;
}
#getting-started h2 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 25px;
}
#getting-started ol {
  margin-left: 0;
  padding-left: 0;
}
#getting-started li {
  font-size: 18px;
  color: #888;
  margin-bottom: 25px;
}
#getting-started li h2 {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  color: #333;
}
#getting-started li p {
  color: #555;
  font-size: 13px;
}

#sidebar ul {
  margin-left: 0;
  padding-left: 0;
}
#sidebar ul h3 {
  margin-top: 25px;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#sidebar li {
  list-style-type: none;
}
#sidebar ul.links li {
  margin-bottom: 5px;
}

.field {
  font-family: "Helvetica", "OpenSans", Arial;
}

footer {
  background:#f4f4f4;
  margin-top:50px;
  padding:25px;
}

footer p {
  text-align: center;
}

span.red {
  color: red;
}
